@tailwind base;
@tailwind components;
@tailwind utilities;

.hg-activeButton {
  @apply brightness-75;
}

a {
  @apply underline text-primary;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}
.label {
  @apply p-0 md:pb-1;
}

/* RAINBOW */

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-1 {
  background: rgb(255, 0, 0);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-2 {
  background: rgb(255, 63, 0);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-3 {
  background: rgb(255, 127, 0);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-4 {
  background: rgb(255, 191, 0);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-5 {
  background: rgb(254, 255, 0);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-6 {
  background: rgb(191, 255, 0);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-7 {
  background: rgb(127, 255, 0);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-8 {
  background: rgb(63, 255, 0);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-9 {
  background: rgb(0, 255, 0);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-10 {
  background: rgb(0, 255, 63);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-11 {
  background: rgb(0, 255, 127);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-12 {
  background: rgb(0, 255, 191);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-13 {
  background: rgb(0, 254, 255);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-14 {
  background: rgb(0, 191, 255);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-15 {
  background: rgb(0, 127, 255);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-16 {
  background: rgb(0, 63, 255);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-17 {
  background: rgb(0, 0, 255);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-18 {
  background: rgb(63, 0, 255);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-19 {
  background: rgb(127, 0, 255);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-20 {
  background: rgb(191, 0, 255);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-21 {
  background: rgb(255, 0, 254);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-22 {
  background: rgb(255, 0, 191);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-23 {
  background: rgb(255, 0, 127);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-24 {
  background: rgb(255, 0, 63);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-25 {
  background: rgb(0, 0, 0);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-rainbow-26 {
  background: rgb(255, 255, 255);
  color: black;
}

/* ORIGINAL */

.simple-keyboard.hg-layout-default .hg-button.hg-original-1 {
  background: rgb(164, 65, 118);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-2 {
  background: rgb(202, 76, 62);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-3 {
  background: rgb(201, 68, 53);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-4 {
  background: rgb(204, 74, 44);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-5 {
  background: rgb(217, 142, 67);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-6 {
  background: rgb(112, 60, 45);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-7 {
  background: rgb(82, 100, 86);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-8 {
  background: rgb(59, 98, 134);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-9 {
  background: rgb(54, 80, 144);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-10 {
  background: rgb(60, 59, 123);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-11 {
  background: rgb(205, 90, 97);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-12 {
  background: rgb(227, 102, 53);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-13 {
  background: rgb(224, 199, 76);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-14 {
  background: rgb(160, 153, 73);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-15 {
  background: rgb(164, 188, 92);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-16 {
  background: rgb(45, 107, 99);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-17 {
  background: rgb(52, 99, 156);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-18 {
  background: rgb(47, 78, 141);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-19 {
  background: rgb(58, 149, 201);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-20 {
  background: rgb(249, 199, 214);
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-21 {
  background: rgb(245, 213, 197);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-22 {
  background: rgb(246, 238, 85);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-23 {
  background: rgb(175, 222, 211);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-24 {
  background: rgb(90, 174, 205);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-25 {
  background: rgb(255, 255, 255);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.hg-original-26 {
  background: rgb(0, 0, 0);
  color: white;
}